<div class="layout-wrapper">
  <div class="layout-sidebar">
    <div class="user-profile">
      <a id="sidebar-profile-button">
        <img
          src="assets/img/tmo_logo.png"
          alt="california-layout"
          style="width: 95%; margin: auto !important"
        />
        <span class="sidebar-profile-name">Fırat Demircan</span>
        <span class="sidebar-profile-role">Açıklama</span>
      </a>
    </div>
    <p-menu [model]="items" [style]="{ width: '100%' }"></p-menu>
  </div>

  <div class="layout-main">
    <div class="layout-main-content">
      <div style="display: flex">
        <div class="card" style="width: 500px;margin-right: 0.5em">
          <p-button style="margin-right: 0.5em" label="Olsun"></p-button>
          <p-button label="Bitsin" style="float: right"></p-button>
        </div>

        <div class="card" style="width: 500px;margin-right: 0.5em">
          <p-button style="margin-right: 0.5em" label="Olsun"></p-button>
          <p-button label="Bitsin"></p-button>
        </div>
        <div class="card" style="width: 500px;margin-right: 0.5em;margin-bottom: 16px">
          <p-button style="margin-right: 0.5em" label="Olsun"></p-button>
          <p-button label="Bitsin"></p-button>
        </div>

      </div>
    </div>
  </div>

</div>



